.shelter-card {
  background: #00462A;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Jua', sans-serif;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
}
.shelter-card button {
  background: #FFFFFF;
  color: #00462A;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}